<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.example.demo.mapper.UserMapper">

    <resultMap id="UserPermissionMap" type="com.example.demo.entity.User">

        <id column="uid" property="id"></id>
        <result column="username" property="username"></result>
        <result column="password" property="password"></result>
        <result column="birthday" property="birthday"></result>

        <collection property="permissions" ofType="com.example.demo.entity.Permission">
            <id column="pid" property="id"></id>
            <result column="access" property="access"></result>
        </collection>
    </resultMap>

    <select id="FindAllUserAndPermission" resultMap="UserPermissionMap">
        select uid,username,password,birthday,pid,access
        from user,permission,user_permission
        where user.id=user_permission.uid and permission.id=user_permission.pid;
    </select>
</mapper>

<!--<mapper namespace="com.example.demo.mapper.UserMapper">-->
<!--    <select id="getUserById" resultType="com.example.demo.entity.User">-->
<!--        SELECT * FROM user WHERE id = #{id}-->
<!--    </select>-->
<!--</mapper>-->

